input[type="range"] {
  width: 100%;
}

.slider-container {
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 4px;
  background-color: var(--bg-black-100);
}

.slider-info {
  display: flex;
  user-select: none;
  justify-content: space-between;
  margin-bottom: 4px;
}