[tooltip] {
  position: relative;
}

[tooltip]::before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #e0e0e0;
  z-index: 1;
  top: -4px;
  left: 55%;
  /* display: none; */
  opacity: 0;
  transition: 0.7s;
}

[tooltip]::after {
  /* display: none; */
  opacity: 0;
  transition: 0.7s;

  content: attr(tooltip);
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;

  position: absolute;
  top: -30px;
  left: 0;
  pointer-events: none;
  z-index: 1;

  color: #202125;
  background-color: #e0e0e0;

  text-align: center;
  white-space: nowrap;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  /* display: block; */
  opacity: 1;
  transition-delay: 1.2s;
}